.div {
  display: flex;
  justify-content: center;

  align-items: center;
  flex-direction: column;
}

.h2 {
  display: flex;
  justify-content: center;
  color: rgb(252, 215, 3);
  font-size: 36px;
}

.h3 {
  display: flex;
  justify-content: center;
  margin: 10px 10px;
}
