.title {
  display: flex;
  justify-content: center;
  color: #0e0e65;
  font-size: 48px;
}

.wrapper {
  border: 1px solid black;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgb(0 1 0) 2px 2px 3px 2px;

  text-align: center;
  margin: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 16px;
  font-size: 20px;
}
.label:hover,
.label:focus {
  color: blue;
}

.input {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
}
.input:hover {
  background-color: #dce4ed;
  border-radius: 5px;
  cursor: pointer;
}
.button {
  display: inline-block;
  text-decoration: none;
  padding: 14px;
  font-size: 24px;
  font-weight: 700;

  border: none;
  border-radius: 5px;
  color: #180749;
}
.button:hover,
.focus {
  background-color: rgb(104, 84, 235);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
